* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
nav {
  background: #222;
  padding: 5px 20px;
}
ul {
  list-style-type: none;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
.menu li {
  font-size: 16px;
  padding: 15px 5px;
  white-space: nowrap;
}

section {
  margin: 1em;
}

.box {
  background-color: whitesmoke;
  box-shadow: 2px 3px rgb(169, 170, 169);
  border-radius: 1em;
  padding: 1em;
  margin-top: 1em;
}

.form-group {
  margin-top: 0.5em;
}

.title {
  text-align: center;
  font-weight: bold;
}

.justify{
  text-align: justify;
}

.center {
  margin: auto;
  text-align: center;
}


.item-marca .subtitle {
  font-size: 1.5em;
  font-style: italic;
}

footer{
  background-color: royalblue;
  margin-top: 1em;
}

@media all and (max-width: 599px) {
  body {
    background: rgb(185, 228, 185);
  }
}

@media all and (min-width: 600px) and (max-width: 1023px) {
  body {
    background: rgb(191, 210, 247);
  }

  .menu li {
    display: inline-block;
  }
  .logo {
    display: none;
  }
}

/* Desktop menu */
@media all and (min-width: 1024px) {
  body {
    background: rgb(250, 210, 210);
  }
  .menu li {
    display: inline-block;
  }
}
